#Prerequsites

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

#Dataset

In [34]:
data = pd.read_csv('/content/Indian Liver Patient Dataset (ILPD).csv', header=None)

In [35]:
data

     0       1     2    3    4   5    6    7    8     9   10
0    65  Female   0.7  0.1  187  16   18  6.8  3.3  0.90   1
1    62    Male  10.9  5.5  699  64  100  7.5  3.2  0.74   1
2    62    Male   7.3  4.1  490  60   68  7.0  3.3  0.89   1
3    58    Male   1.0  0.4  182  14   20  6.8  3.4  1.00   1
4    72    Male   3.9  2.0  195  27   59  7.3  2.4  0.40   1
..   ..     ...   ...  ...  ...  ..  ...  ...  ...   ...  ..
578  60    Male   0.5  0.1  500  20   34  5.9  1.6  0.37   2
579  40    Male   0.6  0.1   98  35   31  6.0  3.2  1.10   1
580  52    Male   0.8  0.2  245  48   49  6.4  3.2  1.00   1
581  31    Male   1.3  0.5  184  29   32  6.8  3.4  1.00   1
582  38    Male   1.0  0.3  216  21   24  7.3  4.4  1.50   2

[583 rows x 11 columns]

In [36]:
data.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     4
10    0
dtype: int64

In [37]:
data = data[data[9].notna()]

1. Age Age of the patient
2. Gender Gender of the patient
3. TB Total Bilirubin
4. DB Direct Bilirubin
5. Alkphos Alkaline Phosphotase
6. Sgpt Alamine Aminotransferase
7. Sgot Aspartate Aminotransferase
8. TP Total Protiens
9. ALB Albumin
10. A/G Ratio Albumin and Globulin Ratio
11. Selector field used to split the data into two sets (labeled by the experts)

In [38]:
data.columns = ['age','gender','TB', 'DB' , 'AAP' , 'sgpt' , 'sgot' , 'TP' , 'ALB' , 'AG' , 'selector']

In [39]:
data.head()

   age  gender    TB   DB  AAP  sgpt  sgot   TP  ALB    AG  selector
0   65  Female   0.7  0.1  187    16    18  6.8  3.3  0.90         1
1   62    Male  10.9  5.5  699    64   100  7.5  3.2  0.74         1
2   62    Male   7.3  4.1  490    60    68  7.0  3.3  0.89         1
3   58    Male   1.0  0.4  182    14    20  6.8  3.4  1.00         1
4   72    Male   3.9  2.0  195    27    59  7.3  2.4  0.40         1

In [40]:
data.shape

(579, 11)

In [41]:
data.isnull().sum()

age         0
gender      0
TB          0
DB          0
AAP         0
sgpt        0
sgot        0
TP          0
ALB         0
AG          0
selector    0
dtype: int64

In [42]:
data.dtypes

age           int64
gender       object
TB          float64
DB          float64
AAP           int64
sgpt          int64
sgot          int64
TP          float64
ALB         float64
AG          float64
selector      int64
dtype: object

In [43]:
desc = pd.DataFrame(data.dtypes, columns= ['Types'])
desc['Max'] = ''
desc['Min'] = ''
for e , row in desc.iterrows():
  if row['Types'] != 'object':
    desc.loc[e , 'Max'] = data[e].max()
    desc.loc[e , 'Min'] = data[e].min()

In [44]:
desc

            Types   Max  Min
age         int64    90    4
gender     object
TB        float64    75  0.4
DB        float64  19.7  0.1
AAP         int64  2110   63
sgpt        int64  2000   10
sgot        int64  4929   10
TP        float64   9.6  2.7
ALB       float64   5.5  0.9
AG        float64   2.8  0.3
selector    int64     2    1

In [45]:
data['gender'].unique()

array(['Female', 'Male'], dtype=object)

In [46]:
dum = pd.get_dummies(data['gender'])

In [47]:
sure = pd.merge(data , dum , left_index=True , right_index=True)

In [48]:
sure

     age  gender    TB   DB  AAP  sgpt  ...   TP  ALB    AG  selector  Female  Male
0     65  Female   0.7  0.1  187    16  ...  6.8  3.3  0.90         1       1     0
1     62    Male  10.9  5.5  699    64  ...  7.5  3.2  0.74         1       0     1
2     62    Male   7.3  4.1  490    60  ...  7.0  3.3  0.89         1       0     1
3     58    Male   1.0  0.4  182    14  ...  6.8  3.4  1.00         1       0     1
4     72    Male   3.9  2.0  195    27  ...  7.3  2.4  0.40         1       0     1
..   ...     ...   ...  ...  ...   ...  ...  ...  ...   ...       ...     ...   ...
578   60    Male   0.5  0.1  500    20  ...  5.9  1.6  0.37         2       0     1
579   40    Male   0.6  0.1   98    35  ...  6.0  3.2  1.10         1       0     1
580   52    Male   0.8  0.2  245    48  ...  6.4  3.2  1.00         1       0     1
581   31    Male   1.3  0.5  184    29  ...  6.8  3.4  1.00         1       0     1
582   38    Male   1.0  0.3  216    21  ...  7.3  4.4  1.50         2       0     1

[579 rows x 13 columns]

In [49]:
data

     age  gender    TB   DB  AAP  sgpt  sgot   TP  ALB    AG  selector
0     65  Female   0.7  0.1  187    16    18  6.8  3.3  0.90         1
1     62    Male  10.9  5.5  699    64   100  7.5  3.2  0.74         1
2     62    Male   7.3  4.1  490    60    68  7.0  3.3  0.89         1
3     58    Male   1.0  0.4  182    14    20  6.8  3.4  1.00         1
4     72    Male   3.9  2.0  195    27    59  7.3  2.4  0.40         1
..   ...     ...   ...  ...  ...   ...   ...  ...  ...   ...       ...
578   60    Male   0.5  0.1  500    20    34  5.9  1.6  0.37         2
579   40    Male   0.6  0.1   98    35    31  6.0  3.2  1.10         1
580   52    Male   0.8  0.2  245    48    49  6.4  3.2  1.00         1
581   31    Male   1.3  0.5  184    29    32  6.8  3.4  1.00         1
582   38    Male   1.0  0.3  216    21    24  7.3  4.4  1.50         2

[579 rows x 11 columns]

# Models

In [57]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()

data['gender'] = le.fit_transform(data['gender'])

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.

In [58]:
X = data.drop(['selector'], axis=1)
y = data['selector']

In [59]:
y.value_counts()

1    414
2    165
Name: selector, dtype: int64

In [60]:
from imblearn.under_sampling import NearMiss

In [61]:
nm = NearMiss(random_state=42)
X, y = nm.fit_sample(X, y)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)
/usr/local/lib/python3.6/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function safe_indexing is deprecated; safe_indexing is deprecated in version 0.22 and will be removed in version 0.24.
  warnings.warn(msg, category=FutureWarning)

In [67]:
np.unique(y, return_counts=True)

(array([1, 2]), array([165, 165]))